@import "../../assets/scss/constant";

.buttonDefault {
  padding: .5rem 2rem;
  outline: none;
  border: 2px solid #282c34;
  background: rgba(13, 110, 253, 0.43);
  font-size: 14px;
  cursor: pointer;
  transition: .3s all;
}

.restart {
  margin: 1rem auto;
  border-radius: .5rem;
  border: none;
  color: white;
  background: $crimson;
}

.restart:hover {
  background: $green;
}

.load {
  display: block;
  position: relative;
  margin: 0 auto 2rem;
  border-radius: .2rem;
  border: none;
  padding: .5rem 2rem;
  color: rgb(5, 37, 84);
}

.load.loaded::before,
.load.loaded::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.load.loaded::before {
  border-radius: .2rem;
  background: #97c0fe;
}

.load.loaded::after {
  top: 47%;
  left: 30%;
  width: 20%;
  background: transparent;
  border-top: 6px dashed rgba(13, 110, 253, 0.43);
  animation: 1.5s loadedButton infinite;
}

.load:hover {
  color: white;
  background: rgb(5, 37, 84);
}

@keyframes loadedButton {
  50% {
    left: 50%;
  }
  100% {
    left: 30%;
  }
}